{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SafeConnect Solar</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/device-mockups/device-mockups.min.css' %}">

    <!-- Theme CSS -->
    <link href="{% static 'css/new-age.css' %}" rel="stylesheet">
    
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    


</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="page-scroll" href="index">
                <img src="{% static 'img/safeconnect_logo.jpg'%}" class="img-responsive" alt="" style="height:40px;display:block;margin-left:auto;margin-right:auto">
               </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- Need to make sure these work linked to external pages -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="design2/#address">Address > </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/design2/#electricity">Electric Bill > </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/design2/#roof">Roof > </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/design2/#electricalsystem">House Electrical > </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#system">Financing  > </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#installation"> Installation > </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#purchase">Purchase! </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    
    <section id="system" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading" style="margin-bottom:40px">
                        <h2>We've Designed A Solar Appliance for You!</h2>
                        <p class="text-muted">Your house's electrical system and roof can accommodate a PV appliance of up to ____ in size, with a {{ smartbox_size}} A SmartBox.  Based on your electricity use, we recommend an appliance of ___ in size.  This will provide ___ kWh per year, or __ % of your annual electricity use.   We estimate that this will save you up to ___ per year, depending on the financing options you select in the next section.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                
                
                <div class="col-md-4">
                    <div class="section-heading" style="text-align: center;">
                        <img src="{% static 'img/AC_Module.jpeg'%}" class="img-responsive" alt="" style="height:250px;display:block;margin-left:auto;margin-right:auto">
                         <h3>Appliance Details</h3>
                         <p class="text-muted">Your PV appliance will have __ modules of 240 watts each, for a total capacity of __.  These modules will snap together using touch-safe cabling.  Touch-safe, weatherproof cabling will connect the complete array to SafeConnect's proprietary SmartBox, which will ensure that a safe number of modules are installed and continuosly monitor your system for any electrical danger.</p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="section-heading" style="text-align: center;">
                        <img src="{% static 'img/quickmount.jpeg'%}" class="img-responsive" alt="" style="height:250px;display:block;margin-left:auto;margin-right:auto">
                        <h3>Roof Mounting</h3>
                        <p class="text-muted">Your PV appliance will attach to your __ roof using ___ footers, which will be bolted to roof rafters and flashed.  We'll help you schedule a local roofer to install the footers for you.</p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="section-heading" style="text-align: center;">
                        <img src="{% static 'img/specpac.jpeg'%}" class="img-responsive" alt="" style="height:250px;display:block;margin-left:auto;margin-right:auto">
                        <h3>PV Plug</h3>
                        <p class="text-muted">Like all SafeConnect Solar appliances, your appliance will be connected to 240 V "PV Plug" wired by an electrician to your load center.  We'll help you schedule an electrician to get this done.</p>
                    </div>
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                            <a href="#financing" class="btn btn-outline btn-xl page-scroll">Select financing options</a>
                            <hr>
                            </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="financing" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Financing Options</h2>
                        <br>
                        <img src="{% static 'img/financing.png'%}" class="img-responsive" alt="" style="height:500px;display:block;margin-left:auto;margin-right:auto">
                            <br>
                        <p class="text-muted">[Financing options presented here.  Good-looking graphical comparison of savings under different options.]</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="installation" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Schedule Installation</h2>
                        <p class="text-muted">[This section would contain date pickers to select dates for installation.]</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="purchase" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Sign Forms and Purchase</h2>
                        <p class="text-muted">[This section would contain: (1) create username and password; (2) docusign required forms for financing; and (3) purchase system with credit card (depending on financing selection)]</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <footer>
        <div class="container">
            <p>&copy; 2016 Start Bootstrap. All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/new-age.min.js' %}"></script>

</body>

</html>
