{% load staticfiles %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SafeConnect Solar</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/device-mockups/device-mockups.min.css' %}">

    <!-- Theme CSS -->
    <link href="{% static 'css/new-age.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    
       <!-- Theme CSS -->
    <link href="{% static 'css/new-age.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    
     <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    
    <!-- Bootstrap Core JavaScript + datepicker -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    
</head>

<body id="page-top">
<div id="wrap">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="page-scroll" href="index">
                    <img src="{% static 'img/safeconnect_logo.jpg'%}" class="img-responsive" alt="" style="height:40px;display:block;margin-left:auto;margin-right:auto">
               </a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/address">Address > </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/electricity">Electric Bill > </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/roof">Roof > </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/electricalsystem">House Electrical > </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#system">Financing  > </a>
                    </li>
                    <li>
                        <a class="page-scroll"  href="#installation"> Installation > </a>
                    </li>
                    <li>
                        <a class="page-scroll disabled" >Purchase! </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section id="installation">
        <div class="container">
             <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-heading">
                        <h2>Schedule PV Plug Installation</h2>
                        <p class="text-muted">Select a date to see SafeConnect electrician partners available to install your PV Plug.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                    <script type="text/javascript">
                        $(function () {
                            $('#datepicker').datetimepicker({
                                inline: true,
                                sideBySide: true,
                                format: 'YYYY-MM-DD', /*remove this line if you want to use time as well */
                                keepOpen: true,
                            });
                        
                            $('#datepicker').on("dp.change", function() {
                                $('#house_availability_form').submit();
                            });
                        });
                    </script>
                    <div class="col-md-3 text-center">  
                    <form method="POST" action="installation" id="house_availability_form">
                        {% csrf_token %}
                        {{ house_availability_form }}
                    </form>
                    <p class="text-muted">[Note: try 12/21 and 12/20 to see functionality.]</p>
                    <br>
                   <!-- <a class="btn btn-outline btn-xl page-scroll" onclick="document.getElementById('house_availability_form').submit();">See Available Installers</a>-->
                </div>
                <div class="col-md-9">
                    {% for receptacle_installer in receptacle_installer_list %}
                    <div class="row">
                        <div class="col-md-4" style="text-align: center;">
                                {% block content %}
                                <img height="100px" src="{{ receptacle_installer.receptacle_installer_pic.url }}">
                                {% endblock %}
                                <br>
                                <br>
                                <a href="#installation2" class="btn btn-outline btn-xl page-scroll">Select</a>
                        </div>
                        <div class="col-md-8" style="text-align: left;">  
                            <p style="color:#F48230">{{ receptacle_installer.name }}</p>
                            <p class="text-muted">${{ receptacle_installer.price }}</p>
                            <p class="text-muted">{{ receptacle_installer.about }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                            <br>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--<div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="#installation2" class="btn btn-outline btn-xl page-scroll">Schedule Roof Installation</a>
                        <br>
                        <hr>
                        <br>
                    </div>
                </div>-->
        </div>
    </section>
    
    <section id="installation2" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Schedule Roof Mount Installation</h2>
                        <p class="text-muted">Select a date to see SafeConnect electrician partners available to install your roof mounts.</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="section-heading" style="text-align: center;">
                        <h3>Select Date</h3>
                        <p class="text-muted">[Date Picker Here]</p>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="section-heading" style="text-align: center;">
                        <h3>Available Installers</h3>
                        <p class="text-muted">[List of Installer Profiles here]</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="#installation3" class="btn btn-outline btn-xl page-scroll">Schedule Appliance Installation</a>
                    <br>
                    <hr>
                    <br>
                </div>
            </div>
        </div>
        </section>
        
        <section id="installation3" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Schedule Appliance Delivery and Installation</h2>
                        <p class="text-muted">Select a date to see SafeConnect electrician partners available to install your appliance.</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="section-heading" style="text-align: center;">
                        <h3>Select Date</h3>
                        <p class="text-muted">[Date Picker Here]</p>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="section-heading" style="text-align: center;">
                        <h3>Available Installers</h3>
                        <p class="text-muted">[List of Installer Profiles here]</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="#purchase" class="btn btn-outline btn-xl page-scroll">Check Out</a>
                    <br>
                    <hr>
                    <br>
                </div>
            </div>
        </div>
        </section>
    
    <section id="purchase" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Sign Forms and Purchase</h2>
                        <p class="text-muted">[This section would contain: (1) create username and password; (2) docusign required forms for financing; and (3) purchase system with credit card (depending on financing selection)]</p>
                        <br>
                        
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
  </div>
    <footer>
        <div class="container">
            <div class="col-lg-12">
                <p class="data" style="text-align:center;font-weight:bold">Address: {{address}}</p>
                <br>
            </div>
            <div class="col-sm-4">
                <div class="content">
                    <ul class="list-unstyled">
                        <li>
                            <p class="data">Usable Roof Area: {{roof_area |floatformat:"0"}} m2</p>
                        </li>
                        <li>
                            <p class="data">Max Roof Capacity: {{max_roof_capacity |floatformat:"0"}} kW</p>
                        </li>
                        <li>
                            <p class="data">Insolation: {{insolation}} kWh/m2/y</p>
                        </li>
                        <li>
                            <p class="data">Max Roof Production: {{max_roof_production |floatformat:"0" | intcomma}} kWh/y</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="content">
                    <ul class="list-unstyled">
                        <li>
                            <p class="data">Monthly Electricity Usage: {{monthly_electricity_usage |floatformat:"0"}} kWh<p>
                        </li>
                        <li>
                            <p class="data">System Size to Minimize Electric Bill: {{desired_system_capacity |floatformat:"1"}} kW<p>
                        </li>
                        <li>
                            <p class="data">Cable Length: {{cable_length}} ft<p>
                        </li>
                        <li>
                            <p class="data">Roof Type: {{roof_type}} </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li>
                        <p class="data">Max Electrical System Capacity: {{max_electrical_system_capacity_kW |floatformat:"1"}} kW<p>
                    </li>
                    <li>
                        <p class="data">Recommended System Capacity:{{system_capacity |floatformat:"1"}} kW<p>
                    </li>
                    <li>
                        <p class="data">Smartbox Size: {{smartbox_size}} A<p>
                    </li>
                    <li>
                        <p class="data">System Value: ${{system_value |floatformat:"2" | intcomma}}</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-12">
            <br>
            <ul class="list-inline">
                <li>
                    <p>&copy; 2016 Energy Development LLC. All Rights Reserved.</p>
                </li>
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
        </div>
    </footer>

  

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/new-age.js' %}"></script>

</body>

</html>
