nav a.disabled {
    color: darkgrey !important;
    cursor: default !important;
}

.hide {
    position: absolute !important;
    left: -9999px !important;
}

div.content, div.section-heading {
  margin-bottom: 0px !important;
}

footer p.data {
    color: rgba(255, 255, 255, 0.3);
    text-align: left;
}

footer p.data.hide {
    color: grey;
}


.btn-outline {
    color: #F48230;
    background-color: white;
    border-color: #F48230;
    border: 1px solid;
}

a:hover,
a:focus {
  color: #F48230 !important;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: white !important;
    background-color: #F48230;
    border-color: #F48230
    border: 1px solid;
}


.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #F48230 !important;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: white;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #F48230 !important;
  background-color: transparent;
}

header {
    background: none;
    background-color: white;
    color: #245BA6 !important;
}


/* Sticky footer styles------------------------------------ */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -200px;
    /* Pad bottom by footer height */
    padding: 0 0 200px;
}

/* Set the fixed height of the footer here */
footer {
    height: 200px;
    width:100%;
    background-color:grey
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


/*sets icon gradient color*/

section.features .feature-item i {
  font-size: 80px;
  background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: linear-gradient(to left, #F48230, #de8891);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}